#daSquare {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    width: 480px;
    height: 480px;
    border: solid black 10px;
}

#gridHolder {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 200px;
    margin-left: 50px;
    gap: 20px;
}

.box {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-items: center;
}

#title {
    font-size: 30px;
}

body {
    background-color: #ACC8F4;
}

.slideContainer {
    display: flex;
    margin-top: 200px;
    flex-direction: column;
    gap: 10px;
}

#daHolder {
    display: flex;
    justify-content: center;
    align-items: center;
}